<%- include('../includes/head.ejs') %>
</head>
<body>
  <%- include('../includes/nav.ejs') %> 
  </header>
  <main class="mainContainer">
    <h1>Shop</h1>
  </main>
<%- include('../includes/end.ejs') %> 
