<%- include('../includes/head.ejs') %>
</head>
<%- include('../includes/nav.ejs') %>
  <link rel="stylesheet" href="/css/main.css">
</header>
<body>
  <h1>SHOP</h1>
<%- include('../includes/end.ejs') %>